@model IEnumerable<association.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Nouveau</a>
</p>
<div class="container">
    <form method="get" asp-action="Index">
        <label>Mot Clé:</label>
        <input type="text" name="motCle" />
        <button type="submit" class="btn btn-primary">Chercher</button>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Association)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Association.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientID">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <ul class="nav nav-pills">
        @{
            for (int i = 0; i < ViewBag.totalPages; i++)
            {
                string className = "";
                if (i == ViewBag.currentPage)
                {
                    className = "active";

                }
                <li class="@className">
                    <a asp-action="Index" asp-route-page="@i" asp-route-motCle="@ViewBag.motCle">@i</a>
                </li>
            }
        }
    </ul>

</div>