@model association.Models.Association

@{
    ViewData["Title"] = "Supprimer";
}

<h2>Supprimer</h2>

<h3>êtes-vous sûr de vouloir supprimer?</h3>
<div>
    <h4>Association</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AssociationID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
