@model association.Models.FacturesGeneree

@{
    ViewData["Title"] = "Détails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Détails</h2>

<div>
    <h4>FacturesGeneree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateFactures)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFactures)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateGeneration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateGeneration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FactureDe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FactureDe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Association.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Association.Nom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FacturesGenereeID">Modifier</a> |
    <a asp-action="Index">Retour</a>
</div>
<hr />
<p>
    <h4>Factures</h4>
  @*  <a asp-controller="Factures" asp-action="Create" asp-route-id="@Model.CompteurEauID">Créer Nouveau</a>*@

</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().CompteurEau.Client)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().CompteurEau.CompteurEauID)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().DateFacture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().Montant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().ValeurCompteur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().ValeurCompteurPrecedente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().isPayee)
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Factures)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompteurEau.Client.NomPrenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompteurEauID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFacture)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Montant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValeurCompteur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValeurCompteurPrecedente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isPayee)
                </td>

                <td>
                    <a asp-controller="Factures" asp-action="Edit" asp-route-id="@item.FactureID">Modifier</a> |
                    <a asp-controller="Factures" asp-action="Details" asp-route-id="@item.FactureID">Détails</a> |
                    <a asp-controller="Factures" asp-action="Delete" asp-route-id="@item.FactureID">Supprimer</a>

                </td>
            </tr>
            }
        </tbody>
    </table>

</div>
