@model association.Models.Tarif

@{
    ViewData["Title"] = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Tarif</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Montant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateApplication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateApplication)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateFinApplication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFinApplication)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TarifID">Edit</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
