@model IEnumerable<association.Models.Tarif>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Montant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateApplication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFinApplication)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Montant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateApplication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFinApplication)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TarifID">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.TarifID">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.TarifID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
