@model association.Models.CompteurEau

@{
    ViewData["Title"] = "Supprimer";
}

<h2>Supprimer</h2>

<h3>êtes-vous sûr de vouloir supprimer ?</h3>
<div>
    <h4>Compteur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Emplacement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Emplacement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actif)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>
        <dt>
            Citoyen
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.NomPrenom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            <a asp-action="Index">Retour à la liste</a>
        </div>
    </form>
</div>
