@model association.Models.CompteurEau

@{
    ViewData["Title"] = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Compteur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Emplacement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Emplacement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Actif)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Actif)
        </dd>
        <dt>
            Citoyen
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.NomPrenom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompteurEauID">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
<hr />
<p>
    <h4>Factures</h4>
    <a asp-controller="Factures" asp-action="Create" asp-route-id="@Model.CompteurEauID">Créer Nouveau</a>

</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().DateFacture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().Montant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().ValeurCompteur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().ValeurCompteurPrecedente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().isPayee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Factures.FirstOrDefault().CompteurEauID)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Factures)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateFacture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Montant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValeurCompteur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValeurCompteurPrecedente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isPayee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompteurEauID)
                    </td>
                    <td>
                        <a asp-controller="Factures" asp-action="Edit" asp-route-id="@item.FactureID">Modifier</a> |
                        <a asp-controller="Factures" asp-action="Details" asp-route-id="@item.FactureID">Détails</a> |
                        <a asp-controller="Factures" asp-action="Delete" asp-route-id="@item.FactureID">Supprimer</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
