@model association.Models.Facture

@{
    ViewData["Title"] = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Facture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            N°
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FactureID)
        </dd>
        <dt>
            Citoyen
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompteurEau.Client.NomPrenom)
        </dd>
        <dt>
            Compteur
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompteurEau.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FactureDe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FactureDe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateFacture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateFacture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValeurCompteur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValeurCompteur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValeurCompteurPrecedente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValeurCompteurPrecedente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Consomation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Consomation)
        </dd>
        <dt>
            Tarif
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tarif.Montant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Montant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Montant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isPayee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isPayee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FactureID">Modifier</a> |
    <a asp-action="ImprimerRecu" asp-route-id="@Model.FactureID">Imprimer Reçu</a>|

    <a asp-action="Index">Retour &agrave la liste</a>
</div>
