@model IEnumerable<association.Models.Facture>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Nouveau</a>
</p>
<div class="container">



    <form method="get" asp-action="Index">
            <label>Mot Clé:</label>
            <input type="text" name="motCle" id="motCle" value="@ViewBag.motCle" />
            @*<label>Mois</label>
            <input type="month" />*@


            <button type="submit" class="btn btn-primary">Chercher</button>
    </form>

</div>

    <div class="panel panel-body">
        <table class="table">
            <thead>
                <tr>

                    <th>
                        N°
                    </th>
                    <th>
                        Citoyen
                    </th>
                    <th>
                        Compteur
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.FactureDe)
                    </th>

                    <th>
                        Litre/Mois
                    </th>
                    <th>
                        Tarif
                    </th>
                    <th>
                        à payer
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.isPayee)
                    </th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class=" @( @item.isPayee is true ? "bg-success" : "bg-danger")">
                    <td>
                        @Html.DisplayFor(modelItem => item.FactureID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompteurEau.Client.NomPrenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompteurEau.Numero)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FactureDe)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Consomation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarif.Montant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Montant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.isPayee)
                    </td>


                    <td>
                        <a asp-action="Edit" asp-route-id="@item.FactureID">Modifier</a> |
                        <a asp-action="Details" asp-route-id="@item.FactureID">Détails</a> |
                        <a asp-action="Delete" asp-route-id="@item.FactureID">Supprimer</a>
                        <a asp-action="Print" asp-route-id="@item.FactureID">Imprimer </a>

                    </td>
                </tr>
                }
            </tbody>
        </table>


    </div>

    <div>
        <ul class="nav nav-pills">
            @{
                for (int i = 0; i < ViewBag.totalPages; i++)
                {
                    string className = "";
                    if (i == ViewBag.currentPage)
                    {
                        className = "active";

                    }
                    <li class="@className">
                        <a asp-action="Index" asp-route-page="@i" asp-route-motCle="@ViewBag.motCle">@i</a>
                    </li>
                }
            }
        </ul>

    </div>
